[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
    "cd client && npm install && npm run build",
    "cd server && npm install && npm run build"
]

[start]
cmd = "cd server && npm run start"
